<div class="container">
    <div class="row g-0">
        <div class="col-1">
            <img src="~/Theme/Official/img/gard/10-event-security-a.jpg" loading="lazy"
                 class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
        </div>
        <div class="col-10">
            <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                <div class="text-center">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">
                        Register Now
                    </small>
                    <h1 class="display-5 mb-5">Where you want Our Services</h1>
                </div>
                <section class="form">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="ownername">@JSMS.Resources.Language.OwnerName</label>
                                        <input type="text" class="form-control" id="ownername" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.OwnerName">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="company">@JSMS.Resources.Language.Company</label>
                                        <input type="text" class="form-control" id="company" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Company">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="position">@JSMS.Resources.Language.Position</label>
                                        <select class="form-select" id="position">
                                            <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Position---</option>
                                            <option value="1">@JSMS.Resources.Language.Owner</option>
                                            <option value="2">@JSMS.Resources.Language.ViceManager</option>
                                            <option value="3">@JSMS.Resources.Language.GeneralManager</option>
                                            <option value="4">@JSMS.Resources.Language.Assistance</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="dob">@JSMS.Resources.Language.DOB</label>
                                        <input type="date" class="form-control" id="dob" placeholder="@JSMS.Resources.Language.Select @JSMS.Resources.Language.DOB">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="phone1">@JSMS.Resources.Language.Phone</label>
                                        <input type="text" maxlength="15" class="form-control" id="phone1"
                                               placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Phone">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="phone2">@JSMS.Resources.Language.Phone2</label>
                                        <input type="text" maxlength="15" class="form-control" id="phone2"
                                               placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Phone2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pl-5 mt-4">
                            <div class="row">
                                <div class="form-group">
                                    <img class="center img-responsive img-thumbnail"
                                         style="width: 12rem; height: 10rem" src="~/Images/blank-image.png"
                                         id="image" />
                                    <b class="btn-style-2 btn btn-dark">
                                        <i class="fa fa-upload pe-lg-3"></i> <span> @JSMS.Resources.Language.UploadImage</span>
                                        <input onchange="readUrl(this);" type="file" id="imageFile" accept=".png, .jpg, .jpeg, .svg" />
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="province">@JSMS.Resources.Language.Province</label>
                                <select id="province" class="form-select" name="province">
                                    <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Province---</option>
                                    @foreach (var province in Model)
                                    {
                                        <option value="@province.Id">@province.NameKh / @province.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="district">@JSMS.Resources.Language.District</label>
                                <input type="hidden" id="district-id" />
                                <select id="district" class="form-select" name="district">
                                    <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.District---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="commune">@JSMS.Resources.Language.Commune</label>
                                <input type="hidden" id="commune-id" />
                                <select id="commune" class="form-select" name="commune">
                                    <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Commune---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group mb-3">
                                <label for="village">@JSMS.Resources.Language.Village</label>
                                <input type="hidden" id="village-id" />
                                <select id="village" class="form-select" name="village">
                                    <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Village---</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-md-12 mt-2">
                                <div class="form-group mb-3">
                                    <label for="noted">@JSMS.Resources.Language.Description</label>
                                    <textarea class="form-control" id="noted" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Description"></textarea>

                                </div>
                            </div>*@
                        <div class="col-12 text-center mt-5">
                            <button type="button" id="save" class="btn btn-primary px-5 py-3 rounded-pill">Submit Now</button>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="col-1">
            <img src="~/Theme/Official/img/event-4.jpg" loading="lazy" class="img-fluid h-100 w-100 rounded-end"
                 style="object-fit: cover; opacity: 0.7;" alt="">
        </div>
    </div>
</div>

