
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/OfficialWebsite/Blog.cshtml";
}
<!-- Hero Start -->
<div class="container-fluid bg-light  my-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4">Career</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item text-dark" aria-current="page">Career</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<div class="card mx-sm-5">
    <div class="card-header">
        <h3 class="text-center">នេះគឺជាឯកសារភ្ជាប់សម្រាប់អ្នកដាក់ពាក្យ</h3>
    </div>
    <div class="card-body">
        <div class="files text-center fs-1"></div>
    </div>
</div>
<!-- Book Us Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="dataId" id="data-id" value="" />
        <div class="container">
            <div class="row g-0">


                <div class="col-1">
                    <img src="~/Theme/Official/img/gard/10-event-security-a.jpg" class="img-fluid h-100 w-100 rounded-start" style="object-fit: cover; opacity: 0.7;" alt="">
                </div>


                <div class="col-10">
                    <div class="border-bottom border-top border-primary bg-light py-5 px-4">
                        <div class="text-center">
                            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Apply Now</small>
                            <h1 class="display-5 mb-5">Need job?</h1>
                        </div>

                        <section>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mt-3 ">
                                                <label for="birth-name">@JSMS.Resources.Language.FirstName</label>
                                                <input type="text" class="form-control" id="first-name" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.FirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-3 ">
                                                <label for="nick-name">@JSMS.Resources.Language.LastName</label>
                                                <input type="text" class="form-control" id="last-name" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.LastName">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mt-3 ">
                                                <label for="phone1">@JSMS.Resources.Language.Phone</label>
                                                <input type="text" maxlength="15" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask id="phone" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Phone">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mt-3 ">
                                                <label for="phone2">@JSMS.Resources.Language.Phone2</label>
                                                <input type="text" maxlength="15" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask id="phone2" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Phone2">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group mt-3">
                                                <label for="phone2">@JSMS.Resources.Language.Attachment</label>
                                                <div id="dropArea" class="rounded-4">
                                                    <span>@JSMS.Resources.Language.DragAndDrop</span>
                                                    <input type="file" accept=".pdf,.doc,.docx" name="Files[]" id="fileInput" multiple style="display: none;" />
                                                    <div id="fileList"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 pl-5 mt-4">
                                    <div class="row">
                                        <div class="form-group mt-3">
                                            <img class="center img-responsive rounded-4 img-thumbnail" style="width: 12rem; height: 10rem"
                                                 src="~/Images/blank-image.png" id="image" />
                                            <b class="btn-style-2 btn btn-dark">
                                                <i class="fa fa-upload pe-lg-3"></i><span> @JSMS.Resources.Language.UploadImage</span>
                                                <input onchange="readImage(this);" type="file" id="image-file" accept=".png, .jpg, .jpeg, .svg" />
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mt-3">
                                        <label for="gender">@JSMS.Resources.Language.Gender</label>
                                        <select class="form-select" id="sex">
                                            <option value="false">@JSMS.Resources.Language.Female</option>
                                            <option value="true">@JSMS.Resources.Language.Male</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-3">
                                        <label for="dob">@JSMS.Resources.Language.DOB</label>
                                        <input type="date" class="form-control" id="dob" placeholder="@JSMS.Resources.Language.Select @JSMS.Resources.Language.DOB">

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group mt-3">
                                        <label for="province">@JSMS.Resources.Language.Province</label>
                                        <select id="province" class="form-select">
                                            <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Province---</option>
                                            @foreach (var province in Model)
                                            {
                                                <option value="@province.Id">@province.NameKh / @province.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mt-3">
                                        <label for="district">@JSMS.Resources.Language.District</label>
                                        <input type="hidden" id="dis-val" />
                                        <select id="district" class="form-select">
                                            <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.District---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mt-3">
                                        <label for="commune">@JSMS.Resources.Language.Commune</label>
                                        <input type="hidden" id="com-val" />
                                        <select id="commune" class="form-select">
                                            <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Commune---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group mt-3">
                                        <label for="village">@JSMS.Resources.Language.Village</label>
                                        <input type="hidden" id="vil-val" />
                                        <select id="village" class="form-select">
                                            <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Village---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mt-3">
                                        <label for="noted">@JSMS.Resources.Language.Description</label>
                                        <textarea class="form-control" id="noted" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Description"></textarea>

                                    </div>
                                </div>
                                <div class="col-12 text-center mt-5">
                                    <button type="button" class="btn btn-primary px-5 py-3 rounded-pill" id="save">Apply Now</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="col-1">
                    <img src="~/Theme/Official/img/gard/15.jpg" class="img-fluid h-100 w-100 rounded-end" style="object-fit: cover; opacity: 0.7;" alt="">
                </div>


            </div>
        </div>
    </form>
</div>
<!-- Book Us End -->

<div class="container text-center animated bounceInDown">
    <h1 class="display-1 mb-4 fs-1">Or Contact Us</h1>
</div>

<!-- Contact Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Get in touch</small>
                    <h1 class="display-5 mb-0">Contact Us For Any Queries!</h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <form>
                        <input type="text" class="w-100 form-control p-3 mb-4 border-primary bg-light" placeholder="Your Name">
                        <input type="email" class="w-100 form-control p-3 mb-4 border-primary bg-light" placeholder="Enter Your Email">
                        <textarea class="w-100 form-control mb-4 p-3 border-primary bg-light" rows="4" cols="10" placeholder="Your Message"></textarea>
                        <button class="w-100 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill" type="submit">Submit Now</button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                            <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                            <div class="">
                                <h4>Address</h4>
                                <p>Khan Reussei Keo, Teuk Thlar,  Phnom Penh, CAMBODIA</p>
                            </div>
                        </div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                            <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                            <div class="">
                                <h4>Mail Us</h4>
                                <p class="mb-2">jinglongsecurity@gmail.com</p>
                                <p class="mb-0">jlsupport@gmail.com</p>
                            </div>
                        </div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded">
                            <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                            <div class="">
                                <h4>Telephone</h4>
                                <p class="mb-2">(+855) 76 414 4432</p>
                                <p class="mb-0">(+704) 97 385 9847</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

@section scripts {
    @Scripts.Render("~/Scripts/Functions/Online-Applicant.js")
}
<script src="~/Scripts/Libraries/bootstrap.min.js"></script>
<script src="~/Scripts/Libraries/jquery-3.7.1.min.js"></script>
<script>
    const filesPath = {
        1: { file: "../Images/ពាក្យសុំចូលបម្រើធ្វើការងារ.pdf", name: "ពាក្យសុំចូលបម្រើធ្វើការងារ", },
        2: { file: "../Images/ប្រវត្តិរូបសង្ខេបសន្ដិសុខ.pdf", name: "ប្រវត្តិរូបសង្ខេបសន្ដិសុខ", },
        3: { file: "../Images/លិខិតធានាពីអាណាព្យាបាល.pdf", name: "លិខិតធានាពីអាណាព្យាបាល", },
        4: { file: "../Images/លិខិតបញ្ជាក់កិរិយាមាយាទ.pdf", name: "លិខិតបញ្ជាក់កិរិយាមាយាទ", }
    }

    const renderFiles = () => {
        const filesContainer = document.querySelector('.files');
        for (const key in filesPath) {
            if (filesPath.hasOwnProperty(key)) {
                const item = filesPath[key];
                const fileName = item.name; // Get the name property from the object
                const filePath = item.file; // Get the file path

                const fileLink = document.createElement('a');
                fileLink.textContent = fileName;
                fileLink.href = filePath; // Set the href to the file path
                fileLink.target = '_blank'; // Open link in a new tab
                fileLink.rel = 'noopener noreferrer'; // Security best practice for target="_blank" links

                const fileContainer = document.createElement('div');
                fileContainer.appendChild(fileLink); // Append the file link to the container
                filesContainer.appendChild(fileContainer); // Append the file container to the files container
            }
        }
    };


    // Call the function to render files
    renderFiles();

</script>