<div class="modal fade" id="modal-stock" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">Stock Product Infomations</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="data-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-2">
                                    <label class="fw-normal" for="product-type">Product's Name</label>
                                    <select id="product-type" class="form-select">
                                        <option value="-1">---Select product's name---</option>
                                        @foreach (var response in Model)
                                        {
                                            <option value="@response.Id">@response.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-2">
                                    <label class="fw-normal" for="stock-in-out">Stock In/Out</label>
                                    <select id="stock-in-out" class="form-select">
                                        <option value="-1">Select Stock In/Out</option>
                                        <option value="1">ទំនិញចូលក្នុងស្តុក (Stock-in)</option>
                                        <option value="2">ទំនិញចេញពីស្តុក (Stock-out)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="quantity" placeholder="">
                                    <label class="fw-normal" for="quantity">Quantity</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-2">
                                    <input type="date" class="form-control" id="date-in-out" placeholder="">
                                    <label class="fw-normal" for="date-in-out">Date In/Out</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-2">
                                    <textarea type="text" class="form-control" id="s-noted" placeholder=""></textarea>
                                    <label class="fw-normal" for="s-noted">Descriptions</label>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success" id="update-stock">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-secondary" id="save-stock">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>

            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

