@using Microsoft.AspNet.Identity
<!-- Left navbar links -->
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Index", "Home")" class="nav-link">@JSMS.Resources.Language.Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Contact", "Home")" class="nav-link">@JSMS.Resources.Language.Contact</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("About", "Home")" class="nav-link">@JSMS.Resources.Language.About</a>
    </li>
</ul>

<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item mt-2 mx-1">
        @JSMS.Resources.Language.ChangeLanguage
    </li>
    <li class="nav-item ">
        <a id="km-link" class="nav-link rounded" href="@Url.Action("Change","Language",new {translator = "km"})" role="button">
            <img src="~/Images/kh.png" width="25">
            <span>@JSMS.Resources.Language.Khmer</span>
        </a>
    </li>
    <li class="nav-item mr-4">
        <a id="en-link" class="nav-link rounded" href="@Url.Action("Change","Language",new {translator = "en"})" role="button">
            <img src="~/Images/us.png" width="25">
            <span>@JSMS.Resources.Language.English</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>
    <li class="nav-item user-menu mr-4">
        <a href="#" class="nav-link">
            <img src="~/Images/avatar5.png" class="user-image img-circle elevation-2" alt="User Image">
            <span class="text-bold mr-4​​ text-uppercase" id="log-by" data-logby="@User.Identity.GetUserName()">@User.Identity.GetUserName()</span>
        </a>
    </li>
</ul>
<script src="~/Scripts/Libraries/bootstrap.min.js"></script>
<script src="~/Scripts/Libraries/jquery-3.7.1.min.js"></script>
<script>
    //console.log({ UserName: $("#log-by").data("logby") });
    // const to set active class based on language stored in the cookie
    const setActiveClass = () => {
        var currentLanguage = getCookie('Languages');

        if (currentLanguage === 'km') {
            $('#km-link').addClass('bg-info');
        } else if (currentLanguage === 'en') {
            $('#en-link').addClass('bg-info');
        }
    }

    // Get cookie value by name
    const getCookie = (name) => {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    // Set initial active class on page load
    setActiveClass();

    // Click event for Khmer link
    $('#km-link').click(() => {
        $('#en-link').removeClass('bg-info');
        $(this).addClass('bg-info');
    });

    // Click event for English link
    $('#en-link').click(() => {
        $('#km-link').removeClass('bg-info');
        $(this).addClass('bg-info');
    });

</script>
