<table id="get-payroll" class="table table-striped table-hover w-100" role="grid">
    <thead>
        <tr>
            <th>@JSMS.Resources.Language.Id</th>
            <th>@JSMS.Resources.Language.FullName</th>
            <th>@JSMS.Resources.Language.Code</th>
            <th>@JSMS.Resources.Language.ShiftType</th>
            <th>@JSMS.Resources.Language.Location</th>
            <th>@JSMS.Resources.Language.TotalPresent</th>
            <th>@JSMS.Resources.Language.TotalAbsent</th>
            <th>@JSMS.Resources.Language.SalaryPayment</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

