<div class="modal fade" id="modal-applicant" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">@JSMS.Resources.Language.ApplicantInfo</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="data-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="birth-name">@JSMS.Resources.Language.FirstName</label>
                                            <input type="text" class="form-control" id="birth-name" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="nick-name">@JSMS.Resources.Language.LastName</label>
                                            <input type="text" class="form-control" id="nick-name" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.LastName">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="national">@JSMS.Resources.Language.National</label>
                                            <input type="text" class="form-control" id="national" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.National">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="nationality">@JSMS.Resources.Language.Nationality</label>
                                            <input type="text" class="form-control" id="nationality" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Nationality">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="phone1">@JSMS.Resources.Language.Phone</label>
                                            <input type="text" maxlength="15" class="form-control" id="phone1" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Phone">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label for="phone2">@JSMS.Resources.Language.Phone2</label>
                                            <input type="text" maxlength="15" class="form-control" id="phone2" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Phone2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-5 mt-3">
                                <div class="row">
                                    <div class="form-group">
                                        <img class="center img-responsive img-thumbnail" style="width: 12rem; height: 10rem"
                                             src="~/Images/blank-image.png" id="image" />
                                        <b class="btn-style-2 btn btn-dark">
                                            <i class="fa fa-upload pe-lg-3"></i><span> @JSMS.Resources.Language.UploadImage</span>
                                            <input onchange="applicantImage(this);" type="file" id="image-file" accept=".png, .jpg, .jpeg, .svg" />
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">@JSMS.Resources.Language.Gender</label>
                                    <select class="form-select" id="gender">
                                        <option value="false">@JSMS.Resources.Language.Female</option>
                                        <option value="true">@JSMS.Resources.Language.Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dob">@JSMS.Resources.Language.DOB</label>
                                    <input type="date" class="form-control" id="dob" placeholder="@JSMS.Resources.Language.Select @JSMS.Resources.Language.DOB">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="education">@JSMS.Resources.Language.Education</label>
                                    <select class="form-select" id="education">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Education---</option>
                                        <option value="1">@JSMS.Resources.Language.NotStudied</option>
                                        <option value="2">@JSMS.Resources.Language.PrimarySchool</option>
                                        <option value="3">@JSMS.Resources.Language.SecondarySchool</option>
                                        <option value="4">@JSMS.Resources.Language.HighSchool</option>
                                        <option value="5">@JSMS.Resources.Language.University</option>
                                        <option value="6">@JSMS.Resources.Language.Other</option>
                                    </select>
                                </div>
                            </div>
                            <label>@JSMS.Resources.Language.POB</label>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="birth-province">@JSMS.Resources.Language.Province</label>
                                    <select id="birth-province" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Province---</option>
                                        @foreach (var province in Model.Provinces)
                                        {
                                            <option value="@province.Id">@province.NameKh / @province.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" id="birth-dis">
                                <div class="form-group">
                                    <label for="birth-district">@JSMS.Resources.Language.District</label>
                                    <input type="hidden" id="birth-dis-id" />
                                    <select id="birth-district" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.District---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" id="birth-com">
                                <div class="form-group">
                                    <label for="birth-commune">@JSMS.Resources.Language.Commune</label>
                                    <input type="hidden" id="birth-com-id" />
                                    <select id="birth-commune" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Commune---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group" id="birth-vil">
                                    <label for="birth-village">@JSMS.Resources.Language.Village</label>
                                    <input type="hidden" id="birth-vil-id" />
                                    <select id="birth-village" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Village---</option>
                                    </select>
                                </div>
                            </div>

                            <label>@JSMS.Resources.Language.CurrentAddress</label>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="current-province">@JSMS.Resources.Language.Province</label>
                                    <select id="current-province" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Province---</option>
                                        @foreach (var province in Model.Provinces)
                                        {
                                            <option value="@province.Id">@province.NameKh / @province.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" id="current-dis">
                                <div class="form-group">
                                    <label for="current-district">@JSMS.Resources.Language.District</label>
                                    <input type="hidden" id="current-dis-id" />
                                    <select id="current-district" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.District---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" id="current-com">
                                <div class="form-group">
                                    <label for="current-commune">@JSMS.Resources.Language.Commune</label>
                                    <input type="hidden" id="current-com-id" />
                                    <select id="current-commune" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Commune---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group" id="current-vil">
                                    <label for="current-village">@JSMS.Resources.Language.Village</label>
                                    <input type="hidden" id="current-vil-id" />
                                    <select id="current-village" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select @JSMS.Resources.Language.Village---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="noted">@JSMS.Resources.Language.Description</label>
                                    <textarea class="form-control" id="noted" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Description"></textarea>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success" id="update">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-info" id="save">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>

            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
