<div class="modal fade" id="modal-behavior" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">Behavior Infomations</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="behavior-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-2">
                                    <label class="fw-normal" for="applicant">Applicant</label>
                                    <select id="applicant-id" class="form-select">
                                        <option value="-1">---Please selesct applicant---</option>
                                        @foreach (var response in Model.Applicants)
                                        {
                                            <option value="@response.Id">@response.Name @response.NickName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-normal" for="attachment">Attachment</label>
                                    <input type="file" id="attachment" accept=".doc, .docx, .pdf" class="form-control">
                                </div>
                                <div id="get-file"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" id="confirm-by" placeholder="">
                                    <label class="fw-normal" for="confirm-by">Confirm By</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-2">
                                    <input type="date" class="form-control" id="current-date" placeholder="">
                                    <label class="fw-normal" for="current-date">Do on date</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-floating mb-2">
                                    <textarea type="text" class="form-control" id="b-noted" placeholder=""></textarea>
                                    <label class="fw-normal" for="noted">Description</label>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" id="update-behavior">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" id="save-behavior">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>
            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
