<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">@JSMS.Resources.Language.DashboardManagement</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">@JSMS.Resources.Language.Home</a></li>
                    <li class="breadcrumb-item active">@JSMS.Resources.Language.Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h5 class="my-3">@JSMS.Resources.Language.Applicant</h5>
                        <h4>@ViewBag.Applicant <span><span>@JSMS.Resources.Language.People</span></span></h4>

                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        @JSMS.Resources.Language.MoreInfo
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h5 class="my-3">@JSMS.Resources.Language.Staff</h5>
                        <h4>@ViewBag.Staff <span><span>@JSMS.Resources.Language.People</span></span></h4>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        @JSMS.Resources.Language.MoreInfo
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h5 class="my-3">@JSMS.Resources.Language.Client</h5>
                        <h4>@ViewBag.Client <span>@JSMS.Resources.Language.People</span></h4>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        @JSMS.Resources.Language.MoreInfo
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h5 class="my-3">@JSMS.Resources.Language.User</h5>
                        <h4>@ViewBag.User <span>@JSMS.Resources.Language.People</span></h4>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        @JSMS.Resources.Language.MoreInfo
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">

                        <h6 class="text-sm-center pt-3">
                            <i class="far fa-calendar-alt"></i>
                            @JSMS.Resources.Language.Calendar
                            &copy;<span id="display-date"></span>
                            &reg;<span id="display-date-time" onload="showTime()"></span>
                        </h6>

                    </div>
                    <div class="card-body">
                        <!--The calendar -->
                        <div id="calendar" class="w-h"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h6 class="text-sm-center pt-3">
                            <i class="fas fa-shopping-cart"></i>
                            @JSMS.Resources.Language.RemainStock
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="pie-chart" class="w-h"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    @Scripts.Render("~/Scripts/Functions/Dashboard.js")
}
