@model JSMS.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/logoHRMS.png">
    <title>LOGIN</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Theme/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        h1 {
            font-display: inherit;
            font-family: 'Khmer OS Moul', 'Segoe UI', sans-serif;
        }

        p, span,
        label, a, input {
            font-family: 'Khmer OS Battambang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            /*font-size: large;*/
        }
    </style>

</head>

<body>
    <div style="height: 100vh; " class="d-flex justify-content-center align-items-center">
        <form id="form-sign-in" method="post" enctype="multipart/form-data">
            <section>
                <div class="form-control d-flex  shadow-lg p-5 mb-5 bg-body-tertiary rounded-4  ">

                    @Html.AntiForgeryToken()
                    <div class="bg-body-tertiary">
                        <div class="mb-3 text-center">
                            <h1 class=" text-primary text-uppercase pb-2">@JSMS.Resources.Language.LoginInto</h1>
                            <p>@JSMS.Resources.Language.LoginWith</p>
                        </div>

                        <div class="form-group mb-4">
                            <label>@JSMS.Resources.Language.Username</label>
                            <input type="text" id="username" name="UserName" class="form-control" placeholder="@JSMS.Resources.Language.Input">

                        </div>

                        <div class="form-group mb-4">
                            <label>@JSMS.Resources.Language.Password</label>
                            <input type="password" id="password" name="Password" class="form-control" placeholder="@JSMS.Resources.Language.Input">
                        </div>
                        <div class="mb-3">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label>@JSMS.Resources.Language.RememberMe</label>
                        </div>

                        <div class="footer">
                            <button type="button" id="sign-in" class="btn btn-primary w-100 mb-2">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>@JSMS.Resources.Language.Login</span>
                            </button>

                            <div class="text-center">
                                <a href="@Url.Action("Register","Account")">@JSMS.Resources.Language.NoAccount</a>
                            </div>
                            <div class="text-center mt-2">
                                @if (Request.Cookies["Languages"].Value == "km")
                                {
                                    <a class="nav-link" href="@Url.Action("Change","Language",new {translator = "en"})"
                                       role="button">
                                        <img src="~/Images/us.png" width="25">
                                        <span>@JSMS.Resources.Language.English</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" href="@Url.Action("Change","Language",new {translator = "km"})"
                                       role="button">
                                        <img src="~/Images/kh.png" width="25">
                                        <span>@JSMS.Resources.Language.Khmer</span>
                                    </a>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>
    </div>
    <script src="~/Scripts/Libraries/bootstrap.min.js"></script>
    <script src="~/Scripts/Libraries/jquery-3.7.1.min.js"></script>
    <script src="~/Theme/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            customClass: { title: 'custom-swal-title' },
            timer: 3000
        });

        $("#sign-in").click(() => {
            let isValid = validate();
            isValid ? $.ajax({
                url: "/Account/Login",
                type: "POST",
                data: $('#form-sign-in').serialize(),
                success: (response) => {
                    if (response.success) {
                        Swal.fire({
                            title: response.message,
                            icon: "success",
                            showConfirmButton: false,
                            customClass: { title: 'custom-swal-title' },
                            timer: 1500
                        });

                        // Successful login, redirect to the specified URL
                        window.location.href = "/admin/dashboard";
                    } else {
                        // Show an alert or handle the error message as needed
                        Toast.fire({
                            title: response.message,
                            icon: "error",
                        });
                    }
                },
                error: (xhr) => console.log(xhr.responseText),
            }) : false;
        });

        const validate = () => {
            let isValid = true;
            let password = $('#password');
            let username = $('#username');
            if (username.val() === "") {
                Toast.fire({
                    title: "សូមបញ្ចូលទិន្នន័យមួយនេះផង",
                    icon: "warning",
                });
                username.css("border-color", "red");
                username.focus();
                isValid = false;
            } else {
                username.css("border-color", "#cccccc");
                if (password.val() === "") {
                    Toast.fire({
                        title: "សូមបញ្ចូលទិន្នន័យមួយនេះផង",
                        icon: "warning",
                    });
                    password.css("border-color", "red");
                    password.focus();
                    isValid = false;
                } else {
                    password.css("border-color", "#cccccc");
                }
            }

            return isValid;
        };
    </script>
</body>

</html>
