@model JSMS.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/logoHRMS.png">
    <title>LOGIN</title>
    <!--===============================================================================================-->
    <link href="~/Theme/login/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/Select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <script src="~/Scripts/Libraries/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Libraries/popper.js"></script>
    <script src="~/Scripts/Libraries/select2.min.js"></script>
    <script src="~/Scripts/Libraries/main.js"></script>
    <script src="~/Scripts/Libraries/tilt.jquery.min.js"></script>

</head>

<style>
    body{
        overflow:hidden;
    }
    h1,
    span {
        font-display: inherit;
        font-family: 'Khmer OS Moul', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p,
    label, a, input {
        font-family: 'Khmer OS Battambang', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /*font-size: large;*/
    }
</style>

<body>
    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100 ">
                <div class="login100-pic " id="js-tilt" data-tilt>
                    <img src="~/Images/logoHRMS.png" alt="IMG">
                </div>

                <form class="login100-form validate-form">
                    <label class="login100-form-title"> @JSMS.Resources.Language.Welcome
                        <br />
                        <p>@JSMS.Resources.Language.PleaseLogin</p>
                    </label>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="UserName" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="Password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="mb-3">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        <label>@JSMS.Resources.Language.RememberMe</label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            @JSMS.Resources.Language.Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            @JSMS.Resources.Language.Forget
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>

                    <div class="text-center p-t-60">
                        <a class="txt2" href="@Url.Action("Register", "Account")">
                            @JSMS.Resources.Language.CreateNewAccount
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="text-center mt-2">
                        @if (Request.Cookies["Languages"].Value == "km")
                        {
                            <a class="nav-link" href="@Url.Action("Change", "Language", new { translator = "en" })"
                               role="button">
                                <img src="~/Images/us.png" style=" width: 17px;"> English
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("Change", "Language", new { translator = "km" })"
                               role="button"> 
                                <img src="~/Images/kh.png" style=" width: 17px;">
                                <span style="font-family:Hanuman">ភាសាខ្មែរ</span>
                            </a>
                        }
                    </div>
                </form>
            </div>
        </div>
        }
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $('#js-tilt').tilt({
                scale: 1.1
            })

//< !--=============================================================================================== -->
        </script>
    }
</body>

</html>
