@model JSMS.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/logoHRMS.png">
    <title>LOGIN</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <div style="height: 100vh; " class="d-flex justify-content-center align-items-center">

        <section>
            <div class="form-control d-flex  shadow-lg p-5 mb-5 bg-body-tertiary rounded-4  ">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="bg-body-tertiary">
                        <div class="mb-3 text-center">
                            <h1 class=" text-primary text-uppercase">Please login to use System</h1>
                            <p>Please login your Username and Password</p>
                        </div>

                        <div class="form-floating mb-4">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "" })
                            @Html.LabelFor(c => c.UserName)
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-floating mb-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "" })
                            <label asp-for="Password" class="form-label">Password</label>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                        <div class="footer">
                            <button type="submit" class="btn btn-primary w-100 mb-2">
                                <i class="fas fa-sign-in-alt"></i>
                                <b>LOGIN</b>
                            </button>
                            <div class="text-center">
                                @Html.ActionLink("No account for Login right?", "Register", "Account", new { area = "" }, new { @class = "nav-link" })
                            </div>
                        </div>

                    </div>
                }
            </div>
        </section>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>

        </script>
    }
</body>

</html>
