@model JSMS.Models.RegisterViewModel
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/logoHRMS.png">
    <title>CREATE</title>
    <!--===============================================================================================-->
    <link href="~/Theme/login/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/Select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/util.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/login/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            @*<h1>hi</h1>*@
            <div class="wrap-login100 ">
                <div class="login100-pic " id="js-tilt" data-tilt>
                    <img src="~/Images/logoHRMS.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" id="form-sign-up" method="post" enctype="multipart/form-data" role="form">
                    @Html.AntiForgeryToken()
                    <h2 class="text-center" id="login">
                        @JSMS.Resources.Language.Welcome
                    </h2>

                    <p class="text-center" id="login">@JSMS.Resources.Language.PleaseLogin</p>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" id="username" name="UserName" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" id="password" name="Password" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" id="confirm-password" name="ConfirmPassword" placeholder="@JSMS.Resources.Language.Input @JSMS.Resources.Language.ConfirmPassword">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="btnlogin" type="button">
                            @JSMS.Resources.Language.CreateAccount
                        </button>
                    </div>
                    <div class="text-center p-t-20">
                        <a id="txt2" href="@Url.Action("Login", "Account")">
                            @JSMS.Resources.Language.AlreadyAccount
                            <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="text-center mt-2 p-t-20">
                        @if (Request.Cookies["Languages"].Value == "km")
                        {
                            <a class="nav-link" href="@Url.Action("Change", "Language", new { translator = "en" })"
                               role="button">
                                <img src="~/Images/us.png" style=" width: 17px;">
                                <span>@JSMS.Resources.Language.Khmer</span>
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" href="@Url.Action("Change", "Language", new { translator = "km" })"
                               role="button">
                                <img class="mt-4" src="~/Images/kh.png" style=" width: 17px;">
                                <span>@JSMS.Resources.Language.English</span>
                            </a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Libraries/bootstrap.min.js"></script>
    <script src="~/Scripts/Libraries/jquery-3.7.1.min.js"></script>
    <script src="~/Theme/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/Libraries/popper.js"></script>
    <script src="~/Scripts/Libraries/select2.min.js"></script>
    <script src="~/Scripts/Libraries/main.js"></script>
    <script src="~/Scripts/Libraries/tilt.jquery.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script>
        $('#js-tilt').tilt({
            scale: 1.1
        })

        //< !--=============================================================================================== -->
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            customClass: { title: 'custom-swal-title' },
            timer: 3000
        });

        $("#btnlogin").click(() => {
            let isValid = validate();
            isValid ? $.ajax({
                url: "/Account/Register",
                type: "POST",
                data: $('#form-sign-up').serialize(),
                headers: {
                    RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: (response) => {
                    if (response.success) {
                        Swal.fire({
                            title: response.message,
                            icon: "success",
                            showConfirmButton: false,
                            customClass: { title: 'custom-swal-title' },
                            timer: 1500
                        });

                        // Successful login, redirect to the specified URL
                        window.location.href = "/admin/log-in";
                    } else {
                        // Show an alert or handle the error message as needed
                        Swal.fire({
                            title: response.message,
                            icon: "error",
                            showConfirmButton: false,
                            customClass: { title: 'custom-swal-title' },
                            timer: 1500
                        });
                    }
                },
                error: (xhr) => console.log(xhr.responseText),
            }) : false;
        });

        const validate = () => {
            let isValid = true;
            let password = $('#password');
            let username = $('#username');
            let confirmPassword = $("#confirm-password");
            if (username.val() === "") {
                Toast.fire({
                    title: "@JSMS.Resources.Language.Input @JSMS.Resources.Language.Username",
                    icon: "warning",
                });
                username.css("border-color", "red");
                username.focus();
                isValid = false;
            } else {
                username.css("border-color", "#cccccc");
                if (password.val() === "") {
                    Toast.fire({
                        title: "@JSMS.Resources.Language.Input @JSMS.Resources.Language.Password",
                        icon: "warning",
                    });
                    password.css("border-color", "red");
                    password.focus();
                    isValid = false;
                } else {
                    password.css("border-color", "#cccccc");
                    if (confirmPassword.val() === "") {
                        Toast.fire({
                            title: "@JSMS.Resources.Language.Input @JSMS.Resources.Language.ConfirmPassword",
                            icon: "warning",
                        });
                        confirmPassword.css("border-color", "red");
                        confirmPassword.focus();
                        isValid = false;
                    } else {
                        confirmPassword.css("border-color", "#cccccc");
                    }
                }
            }

            return isValid;
        };
    </script>
</body>
</html>
