<div class="modal fade" id="modal-staff" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">@JSMS.Resources.Language.StaffInfo</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="data-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="short-list">@JSMS.Resources.Language.ApplicantPassedShortList</label>
                                    <select id="short-list" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        @foreach (var response in Model.ShortLists)
                                        {
                                            <option value="@response.ShortList.Id">@response.Applicant.Name @response.Applicant.NickName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="client">@JSMS.Resources.Language.Location</label>
                                    <select id="client" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        @foreach (var response in Model.Clients)
                                        {
                                            <option value="@response.Id">
                                                @response.Name/
                                                @response.Company
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-3 ">
                                    <label for="code">@JSMS.Resources.Language.Code</label>
                                    <input type="text" class="form-control" id="code" placeholder="@JSMS.Resources.Language.Input">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="shift">@JSMS.Resources.Language.ShiftType</label>
                                    <select id="shift" class="form-select">
                                        <option value="0">@JSMS.Resources.Language.Morning</option>
                                        <option value="1">@JSMS.Resources.Language.Night</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-3 ">
                                    <label for="main-salary">@JSMS.Resources.Language.Main</label>
                                    <input type="text" class="form-control" id="main-salary" placeholder="@JSMS.Resources.Language.Input">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-3 ">
                                    <label for="on-date">@JSMS.Resources.Language.JoiningDate</label>
                                    <input type="text" class="form-control" id="on-date" placeholder="@JSMS.Resources.Language.SelectDate">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="position">@JSMS.Resources.Language.Type</label>
                                    <select id="position" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        <option value="1">@JSMS.Resources.Language.FullTime</option>
                                        <option value="2">@JSMS.Resources.Language.PartTime</option>
                                        <option value="3">@JSMS.Resources.Language.Instead</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-3 ">
                                    <label for="noted">@JSMS.Resources.Language.Description</label>
                                    <textarea type="text" class="form-control" id="noted" placeholder="@JSMS.Resources.Language.Input"></textarea>

                                </div>
                            </div>

                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success" id="update">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-secondary" id="save">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>

            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
