<div class="modal fade" id="modal-client" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">@JSMS.Resources.Language.ClientInfo</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="data-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="ownername">@JSMS.Resources.Language.FullName</label>
                                            <input type="text" class="form-control" id="ownername" placeholder="@JSMS.Resources.Language.Input">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="company">@JSMS.Resources.Language.Company</label>
                                            <input type="text" class="form-control" id="company" placeholder="@JSMS.Resources.Language.Input">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="vattin">@JSMS.Resources.Language.VATTIN</label>
                                            <select class="form-select" id="vattin">
                                                <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                                <option value="1">L001-901901806</option>
                                                <option value="2">L002-901901807</option>
                                                <option value="3">L003-901901808</option>
                                                <option value="4">L004-901901809</option>
                                                <option value="5">L004-901901810</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <div class="form-group mb-3">
                                            <label for="dob">@JSMS.Resources.Language.SelectDate</label>
                                            <input type="text" class="form-control" id="dob" placeholder="@JSMS.Resources.Language.SelectDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="phone1">@JSMS.Resources.Language.Phone</label>
                                            <input type="text" maxlength="15" class="form-control" id="phone1"
                                                   placeholder="@JSMS.Resources.Language.Input">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-3">
                                            <label for="phone2">@JSMS.Resources.Language.Phone2</label>
                                            <input type="text" maxlength="15" class="form-control" id="phone2"
                                                   placeholder="@JSMS.Resources.Language.Input">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-5 mt-4">
                                <div class="row">
                                    <div class="form-group">
                                        <img class="center img-responsive img-thumbnail"
                                             style="width: 12rem; height: 10.5rem" src="~/Images/blank-image.png"
                                             id="image" />
                                        <b class="btn-style-2 btn btn-dark">
                                            <i class="fa fa-upload pe-lg-3"></i> <span> @JSMS.Resources.Language.UploadImage</span>
                                            <input onchange="readUrl(this);" type="file" id="imageFile" accept=".png, .jpg, .jpeg, .svg" />
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender">@JSMS.Resources.Language.Gender</label>
                                    <select class="form-select" id="gender">
                                        <option value="false">@JSMS.Resources.Language.Female</option>
                                        <option value="true">@JSMS.Resources.Language.Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="position">@JSMS.Resources.Language.Position</label>
                                    <select class="form-select" id="position">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        <option value="1">@JSMS.Resources.Language.Owner</option>
                                        <option value="2">@JSMS.Resources.Language.ViceManager</option>
                                        <option value="3">@JSMS.Resources.Language.GeneralManager</option>
                                        <option value="4">@JSMS.Resources.Language.Assistance</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="province">@JSMS.Resources.Language.Province</label>
                                    <select id="province" class="form-select" name="province">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        @foreach (var province in Model)
                                        {
                                            <option value="@province.Id">@province.NameKh / @province.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" id="dis">
                                <div class="form-group">
                                    <label for="district">@JSMS.Resources.Language.District</label>
                                    <input type="hidden" id="district-id" />
                                    <select id="district" class="form-select" name="district">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="com">
                                <div class="form-group">
                                    <label for="commune">@JSMS.Resources.Language.Commune</label>
                                    <input type="hidden" id="commune-id" />
                                    <select id="commune" class="form-select" name="commune">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group" id="vil">
                                    <label for="village">@JSMS.Resources.Language.Village</label>
                                    <input type="hidden" id="village-id" />
                                    <select id="village" class="form-select" name="village">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group mb-3">
                                    <label for="noted">@JSMS.Resources.Language.Description</label>
                                    <textarea class="form-control" id="noted" placeholder="@JSMS.Resources.Language.Input"></textarea>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success" id="update">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-secondary" id="save">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>

            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
