<div class="modal fade" id="modal-client" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">Client Infomations</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="data-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="ownername" placeholder="">
                                            <label class="fw-normal" for="ownername">Please input ownername</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="company" placeholder="">
                                            <label class="fw-normal" for="company">Please input company's name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="gdtreg" placeholder="">
                                            <label class="fw-normal" for="gdtreg">Please input GDTREG</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="vattin" placeholder="">
                                            <label class="fw-normal" for="vattin">Please input VATTIN</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" maxlength="15" class="form-control" id="phone1"
                                                   placeholder="">
                                            <label class="fw-normal" for="phone1">Please input phone number 1</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" maxlength="15" class="form-control" id="phone2"
                                                   placeholder="">
                                            <label class="fw-normal" for="phone2">Please input phone number 2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-5">
                                <div class="row">
                                    <div class="form-group">
                                        <img class="center img-responsive img-thumbnail"
                                             style="width: 12rem; height: 10.5rem" src="~/Images/blank-image.png"
                                             id="image" />
                                        <b class="btn-style-2 btn btn-dark">
                                            <i class="fa fa-upload pe-lg-3"></i> Upload Image
                                            <input onchange="readUrl(this);" type="file" id="imageFile" accept=".png, .jpg, .jpeg, .svg" />
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-select" id="gender">
                                        <option value="true">ប្រុស (Male)</option>
                                        <option value="false">ស្រី ​(Female)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <select class="form-select" id="position">
                                        <option value="-1">---Select position---</option>
                                        <option value="1">ម្ចាស់ភាគហ៊ុន (Owner)</option>
                                        <option value="2">ថៅកែ (Vice-Manager)</option>
                                        <option value="3">អ្នកគ្រប់គ្រង (General-Manager)</option>
                                        <option value="4">លេខា (Assistance)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <div class="form-floating mb-2">
                                    <input type="date" class="form-control" id="dob">
                                    <label for="dob">Please select Date of birth</label>
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="form-floating mb-2">
                                    <textarea class="form-control" id="noted" placeholder=""></textarea>
                                    <label for="noted">Please input description</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="province">Province</label>
                                    <select id="province" class="form-select" name="province">
                                        <option value="-1">---Please Select Province---</option>
                                        @foreach (var province in Model)
                                        {
                                            <option value="@province.Id">@province.NameKh / @province.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" id="dis">
                                <div class="form-group">
                                    <label for="district">District</label>
                                    <input type="hidden" id="district-id" />
                                    <select id="district" class="form-select" name="district">
                                        <option value="-1">---Please Select District---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="com">
                                <div class="form-group">
                                    <label for="commune">Commune</label>
                                    <input type="hidden" id="commune-id" />
                                    <select id="commune" class="form-select" name="commune">
                                        <option value="-1">---Please Select Commune---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group" id="vil">
                                    <label for="village">Village</label>
                                    <input type="hidden" id="village-id" />
                                    <select id="village" class="form-select" name="village">
                                        <option value="-1">---Please Select Village---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success" id="update">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-secondary" id="save">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>

            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
