<!--<div class="modal fade" id="modal-income" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-uppercase">@JSMS.Resources.Language.IncomeInfo</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" enctype="multipart/form-data">
                <input type="hidden" id="income-id">

                <div class="modal-body">
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="income-type">@JSMS.Resources.Language.IncomeType</label>
                                    <select id="income-type" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        <option value="1">@JSMS.Resources.Language.IncomeSponsored</option>
                                        <option value="2">@JSMS.Resources.Language.IncomeService</option>
                                        <option value="3">@JSMS.Resources.Language.IncomeState </option>
                                        <option value="4">@JSMS.Resources.Language.IncomeSell</option>
                                        <option value="5">@JSMS.Resources.Language.IncomeCost</option>
                                        <option value="6">@JSMS.Resources.Language.IncomeAds </option>
                                        <option value="7">@JSMS.Resources.Language.IncomeExpensive</option>
                                        <option value="8">@JSMS.Resources.Language.IncomeTax</option>
                                        <option value="9">@JSMS.Resources.Language.IncomeAdvisor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="client">@JSMS.Resources.Language.Client</label>
                                    <select id="client" class="form-select">
                                        <option value="-1">---@JSMS.Resources.Language.Select---</option>
                                        @foreach (var response in Model.Clients)
                                        {
                                            <option value="@response.Id">
                                                @response.Name/
                                                @response.Company
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="quantity">@JSMS.Resources.Language.Quantity</label>
                                    <input type="number" readonly class="form-control" value="0" id="quantity">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="amount">@JSMS.Resources.Language.Amount</label>
                                    <input type="number" readonly class="form-control" value="0.00" id="amount">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="vat">@JSMS.Resources.Language.Tax</label>
                                    <input type="number" class="form-control" value="0.00" id="vat" placeholder="">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="unit-price">@JSMS.Resources.Language.UnitPrice</label>
                                    <input type="number" class="form-control" id="unit-price" placeholder="">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="total-price">@JSMS.Resources.Language.Cost</label>
                                    <input type="text" readonly class="form-control" value="0.00"id="total-price" placeholder="">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="exchange-rate">@JSMS.Resources.Language.ExchangRate</label>
                                    <input type="number" class="form-control" value="4000" id="exchange-rate" placeholder="">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="on-date">@JSMS.Resources.Language.Date</label>
                                    <input type="text" class="form-control" id="date-income" placeholder="@JSMS.Resources.Language.SelectDate">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="currency">@JSMS.Resources.Language.Currency</label>
                                    <select id="currency" class="form-select">
                                        <option value="1">@JSMS.Resources.Language.USD</option>
                                        <option value="0">@JSMS.Resources.Language.KHR</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="payment">Payment Method</label>
                                    <select id="payment" class="form-select">
                                        <option value="-1">---Select payment---</option>
                                        <option value="1">By Cash</option>
                                        <option value="2">By Bank</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="invoice" placeholder="">
                                    <label for="invoice">Invoice Number</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" id="noted" placeholder="">
                                    <label for="noted">Purpose</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label for="attachment">Attachment</label>
                                    <input type="file" class="form-control" id="attachment" accept=".doc, .docx, .pdf">
                                </div>
                                <div id="file"></div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <textarea type="text" class="form-control" id="description"
                                              placeholder=""></textarea>
                                    <label for="description">Please input dcription</label>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

                <div class="modal-footer">
                    <section>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                            <i class=" fas fa-times-circle"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                        </button>
                        <button type="button" class="btn btn-success" id="update-income">
                            <i class=" fas fas fa-redo-alt"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                        </button>
                        <button type="button" class="btn btn-secondary" id="save-income">
                            <i class=" fas fa-save"></i>
                            <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                        </button>
                    </section>
                </div>

            </form>
        </div>-->

        <!-- /.modal-content -->
    <!--</div>-->
    <!-- /.modal-dialog -->
<!--</div>-->

