<div class="modal fade" id="modal-user" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ml-5 text-uppercase">User Infomations</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="data-id">
                    <div class="col-md-12">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="username" placeholder="">
                            <label for="username">Please input your username</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-4">
                            <input type="text" maxlength="15" class="form-control" id="phone" placeholder="">
                            <label for="phone">Please input your phone number</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="password" placeholder="">
                            <label for="password">Please input your password</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <select class="form-select mb-4" id="role">
                            <option value="-1">---Please select role---</option>
                            @foreach (var response in Model)
                            {
                                <option value="@response.Name">@response.Name</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                    <i class=" fas fa-times-circle"></i>
                    <span class="text-uppercase">@JSMS.Resources.Language.Close</span>
                </button>
                <button type="button" class="btn btn-success" id="update">
                    <i class=" fas fas fa-redo-alt"></i>
                    <span class="text-uppercase">@JSMS.Resources.Language.Update</span>
                </button>
                <button type="button" class="btn btn-secondary" id="save">
                    <i class=" fas fa-save"></i>
                    <span class="text-uppercase">@JSMS.Resources.Language.Save</span>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
